body{
    margin: 100px;
    font-family: 'Inter', sans-serif;
    background-color: black;
    color: white;}
.div1,.div3,.div4{margin-bottom: 150px;}
.div2 {
    display: inline-block; 
    text-transform: capitalize; 
    font-size: 32px;
    vertical-align: middle;
    font-family: Tahoma, Geneva, Verdana, sans-serif;}


.foto{
    max-width: 300px; 
    border-radius: 10px; 
    display: inline-block; 
    box-shadow: -20px 20px 0 rgb(255, 217, 0);
    margin: 0px 50px 50px 0px;
    vertical-align: middle;}
.perkenalan{margin: 10px auto;}
.fa-brands{
    font-size: 36px;
    color: white; 
    margin-top: 10px;
    transition: all 0.7s;
    vertical-align: middle ;}
.fa-brands:hover{color: rgb(255, 217, 0);font-size: 50px;}


.about,.projects{text-transform: capitalize; font-size: 35px;}
.about,.projects,.highlight{color: rgb(255, 217, 0);}
.me{
    max-width: 450px;
    display: inline-block;
    text-align: justify;
    font-size: large;
    vertical-align: top;
    margin-right: 50px;}


.logo-container{display: flex;}
.logo{
    width: 170px;
    width: 170px;
    object-fit: cover;
    display: inline-block;
    margin: auto 5px}
.css{
    width: 120px;
    height: 120px;}
.python{
    width: 200px;
    height: 200px;}

    
.project-section{
    background-color: rgb(40, 40, 40);
    margin: 0 auto;
    width: 300px;
    height: 200px;
    padding:15px;
    border-radius: 10px;
    display: inline-block;
    margin: 10px 9px;}
.coming{margin-top: 80px; text-align: center;}